# File types #
##############
*.sw[opn]
*.bkup
*_bkup

# Directories #
###############
llm/
logs/
log/
/public/
/resources/_gen/
tags

# Specific files #
##################
.project
.vim
.hugo_build.lock
PROJECT_NOTE
# static/linkIndex.json
# static/contentIndex.json
