# File types #
##############
*.sw[opn]
*.bkup
*_bkup

# Directories #
###############
logs/
log/
/public/
/resources/_gen/
tags

# Specific files #
##################
.project
PROJECT_NOTE
# static/linkIndex.json
# static/contentIndex.json
