{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}

  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>
    </article>
  </div>

{{/* --- 1: Orgs --- */}}
{{ if .Site.Data.cma.orgs.enable }} 
<article class="pa3 pa4-ns nested-copy-line-height nested-img">
  <section class="cf ph3 ph5-l pv3 pv4-l f2 tc-l center measure-wide lh-copy">
    {{ .Site.Data.cma.orgs.title }} 
  </section>
  <aside class="flex-ns flex-wrap justify-around mt2">
    {{ range $index, $element:= .Site.Data.cma.orgs.members }}
      <div class="relative mw6 mb4 bg-mid-gray ba b--black-10 light-gray br3">
        <div class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy">
        {{ if .image }}
          <img class="br-100 w4 dib ba b--black-05 pa2"
               src="{{ .image }}" title="{{ .name }}" alt="[Image of {{ .name }}]">
        {{ end }} 
          <h1 class="f4 mb2"> {{ .name }} </h1>
          <p class="f6 fw4 mt0">{{ .role }}</p>
          <p class="f5 lh-copy nested-copy-line-height">{{ .bio }}</p>
        {{ with .link }}
	  <a class="ba br2 dib f7 link mt2 ph2 pv1 
	    b--moon-gray bg-light-gray hover-bg-moon-gray dark-gray" 
	    href="{{ .link_url }}" target="_blank">{{ .link_title }}</a>
	{{ end }}
        </div>
      </div>
      {{ end }} 
  </aside>
</article>
{{ end }} 

{{/* --- 2: Team --- */}}
{{ if .Site.Data.cma.team.enable }} 
<article class="pa3 pa4-ns nested-copy-line-height nested-img">
  <section class="cf ph3 ph5-l pv3 pv4-l f2 tc-l center measure-wide lh-copy">
    {{ .Site.Data.cma.team.title }} 
  </section>
  <aside class="flex-ns flex-wrap justify-around mt2">
    {{ range $index, $element:= .Site.Data.cma.team.members }}
      <div class="relative mw6 mb4 bg-white ba b--black-10 br3">
        <div class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy">
        {{ if .image }}
          <img class="br-100 w4 dib ba b--black-05 pa2 o-80"
               src="{{ .image }}" title="{{ .name }}" alt="[Image of {{ .name }}]">
        {{ end }} 
          <h1 class="f4 mb2"> {{ .name }} </h1>
          <p class="f6 fw4 gray mt0">{{ .role }}</p>
          <p class="f5 lh-copy nested-copy-line-height">{{ .bio }}</p>
        {{ with .link }}<a class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1" href="{{ .link_url }}" target="_blank">{{ .link_title }}</a>{{ end }}
        </div>
      </div>
      {{ end }} 
  </aside>
</article>
{{ end }} 


{{ end }}
