{{ define "main" }}

<div>
  {{ range .Paginator.Pages }}

<article class="cf ph3 ph5-ns pv5">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
      {{.Title}}
    </h1>
    <h2 class="f3 mid-gray lh-title">
      {{.Params.subtitle}}
    </h2>
    {{ if .Params.enddate}}
      <font class="f6 ttu tracked gray">Year Completed:</font>
      <time class="f6 ttu tracked dark-gray">{{ .Params.enddate }}</time>
    {{ end }} 

    <div>
    <p class="pb4 dim"><a href="{{ .Permalink }}" class="f6">Permalink</a></p>

    {{/* Project Highlights */}}
    {{if .Params.highlights }}
      {{ range .Params.highlights }}
      <div class="f5 f5-ns lh-copy pb2">{{ . }}</div>
      {{ end }}
    {{ end }}

    {{/* Taxonomy */}}
    <div class="pt3">
      {{ if .GetTerms "tags" }}
          {{ range (.GetTerms "tags") }}
          <a class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black bg-moon-gray" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
      {{ end }}
    </div>

    {{- partial "tags.html" -}} 

  </header>
  <div class="fn fl-ns w-50-ns">
    <div class="f5 lh-copy measure mt0-ns">
    {{ .Content }} 
    </div>

  </div>
</article>

{{ end}}
</div>

<div class="tc">{{ template "_internal/pagination.html" . }}</div>
{{ end }}
