
/*
  Additional colors added by AA 
  prefix `fa-`
  --fa-red:  #fb4b4b;
  --fa-red-lighter:  #ff8077;
  --fa-red-darker:  #c10023;
  --fa-blue:  #043454;
  --fa-blue-lighter:  #3b5d81;
  --fa-blue-darker:  #000d2b;
  --fa-dark-gray:  #526471;
  --fa-mid-gray:  #e1e2e1;
  --fa-light-gray:  #f5f5f6;
*/

.fa-red { color: #fb4b4b; }
.fa-red-l { color: #ff8077; }
.fa-red-d { color: #c10023; }
.fa-blue { color: #043454; }
.fa-blue-l { color: #3b5d81; }
.fa-blue-d { color: #000d2b; }
.bg-fa-red { background-color: #fb4b4b; }
.bg-fa-dark-gray { background-color: #526471; }
.bg-fa-light-gray { background-color: #f5f5f6; }
