{{ define "main" }}

<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
  {{ .Content }}
</article>

{{/* Section on Projects */}}

<div id="portfolio-banner" class="cf bg-fa-blue-l">
  <h2 class="bg-fa-blue bb mt0 mb2 mb3-ns fa-light-gray pv4 tc ">Project Highlights</h2>

  <div class="mw9 center fa-light-gray">
  <section class="cf pa3 mw9 center tl">

  <aside class="flex-ns flex-wrap justify-around">
    
      <div class="relative mw6 mb4">
        <a href="cma" class="link fa-light-gray dim">
          <div class="ph2 ph3-l pv3 pv4-l f4 tc-l center measure lh-copy">
              <h1 class="f4 mb2">COVID Modeling Accelerator</h1>
            <p class="f5 lh-copy nested-copy-line-height">Fenris partnered with the Society of Medical Decision Making (SMDM) and Rockefeller Foundation to help a cohort of academic research teams better meet the needs of state and local decision-makers for actionable insights from epidemiological, economic and operational data models.</p>
          </div>
        </a>
      </div>

    {{ range first 5 (where ( where .Site.RegularPages.ByDate.Reverse "Section" "portfolio" ) ".Params.cardsummary" "!=" nil ) }}
      <div class="relative mw6 mb4">
        <a href="" class="link dim fa-light-gray"><div class="ph2 ph3-l pv3 pv4-l f4 tc-l center measure lh-copy">
          <h1 class="f4 mb2"> {{ .Title }} </h1>
          <p class="f5 lh-copy nested-copy-line-height">{{ .Params.cardsummary }}</p>
        </div></a>
      </div>
	{{ end }}
  </aside>

    </section>
</div></div>


{{/* Section on clients and testimonials */}}
<div id="testimonials-banner" class="cf pa3 pa4-m pa5-l mw9 center mid-gray">

  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    <h2>Clients</h2>
    <p>
    I work with purpose-driven corporations, non profits, academic research teams, or foundations. These organizations are often part of a civil-public or civil-private collaboration, in sectors such as health and energy.
    </p>
  </article>

  <div class="flex items-center justify-around">
    <div class="pa3"><img style="width:250px;" src="images/logos/rockefeller.png" alt="Rockefeller Foundation"></div>
    <div class="pa3"><img style="width:100px;" src="images/logos/gsk.svg.png" alt="GSK"></div>
    <div class="pa3"><img style="width:120px;" src="images/logos/agl.png" alt="AGL"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/dataguild.png" alt="The Data Guild"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/datakind.png" alt="DataKind"></div> 
  </div>
  <div class="flex items-center justify-around">
    <div class="pa3"><img style="width:150px;" src="images/logos/aspiration.png" alt="AspirationTech"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/changehealthcare.png" alt="Emdeon / Change health"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/usaid2.png" alt="USAID"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/google_org.png" alt="Google.org"></div>
  </div>
  <div class="flex items-center justify-around">
    <div class="pa3"><img style="width:150px;" src="images/logos/proteus.png" alt="Proteus Digital health"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/niot.png" alt="Not In Our Town"></div>
    <div class="pa3"><img style="width:150px;" src="images/logos/c3_energy.png" alt="C3 Energy / C3 IoT"></div>
  </div>
</div>

{{/* Section on Contact Form */}}
<div id="contact-form" class="cf pa3 pa4-m pa5-l mw9 center mid-gray">

  {{/* general-contact-form action="https://formspree.io/f/mgerebpb" */}}
  {{ partial "general-contact-form.html" . }}

</div>

{{ end }}
