{{ define "main" }}

<article class="cf ph3 ph5-l pv3 pv4-l f5 tc-l center measure-wide lh-copy mid-gray">
  {{ .Content }}
</article>

{{/* Section on Projects */}}

<div
  class="bg-lightest-blue"
  style="">

<div 
    id="portfolio-banner" 
    class="cf pa3 pa4-m pa5-l mw9 center navy"
  >

  <div class="cf pa3 mw9 center tl">
    <section class="">
      <a href="portfolio" class="link navy"><h2 class="mt0 mb4 mb5-ns">Portfolio</h2></a>

    {{ range first 5 ( where .Site.RegularPages.ByDate.Reverse "Section" "portfolio" ) }}
      <div class="fl w-100 w-50-l pa2-l">
        <p class="f6 lh-copy measure dim tj">
          <a href="{{ .RelPermalink }}" class="link navy">{{ .Title }}</a><br>
          <a href="{{ .RelPermalink }}"
            class="mid-gray"
            style="text-decoration: none;">{{ .Params.succinct }}</a>
        </p>
      </div>
    {{ end }} 

    </section>
  </div>
</div></div>


{{/* Section on clients and testimonials */}}
<div id="testimonials-banner" class="cf pa3 pa4-m pa5-l mw9 center mid-gray">
  <div class="cf pa3 mw9 center tl">
    <h2 id="testimonials">Clients and Testimonials</h2>
  </div>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

</div>
{{/* Section on Contact Form */}}
<h2 id="contact">Contact</h2>

{{/* general-contact-form action="https://formspree.io/f/mgerebpb" */}}

{{ end }}
